<div class="container-fluid">
    <div class="row">
        <div class="column-left">
            <form>
                <div class="quotespace">
                    <label form="quote">New Quote</label><br>
                    <textarea id=" quote"></textarea>
                </div>
                <div class="detail-form">
                    <label form="author">Author</label><br>
                    <input type="text" name="author" class="form-control">
                </div>
                <div class="detail-form">
                    <label form="date">Date</label><br>
                    <input type="text" name="date" class="form-control">
                </div>
                <button class="button" type="submit">Post Quote</button>
            </form>
        </div>
        <div class="column-right"></div>
    </div>
</div>