

div{
    text-align: left;
}

label{
    text-align: left;
}

textarea{
    width: 500px;
  height: 200px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }


.detail-form{
    max-width: 400px;

}
.column {
    float: left;
    width: 50%;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }