.leading{
    background-color: black;
}
.sector{
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
 h2{
     text-align: center;
 }
